## SQL 실습

In [1]:
import sqlite3

- connect : DB API에 접속하기 위한 과정, cursor를 리턴한다.
- cursor : fetch를 하기 위한 과정

In [2]:
# sqlite3와 connect !
conn = sqlite3.connect(":memory:") # memory에 임시적으로 !
cur = conn.cursor()

In [3]:
cur.executescript(
"""
    CREATE TABLE Artist(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT
    ) ;
    
    CREATE TABLE Genre(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT
    ) ;
    
    CREATE TABLE Album(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        artist_id INTEGER
    ) ;
    
    CREATE TABLE Track(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        length INTEGER,
        rating INTEGER,
        count INTEGER,
        album_id INTEGER,
        genre_id INTEGER
    ) ;
"""
)

In [4]:
cur.executescript(
"""
    INSERT INTO Artist (name) VALUES('Led Zepplin');
    INSERT INTO Artist (name) VALUES('AC/DC');
    INSERT INTO Artist (name) VALUES('Simon');
    INSERT INTO Artist (name) VALUES('Lucy');
    INSERT INTO Artist (name) VALUES('James');
    INSERT INTO Artist (name) VALUES('Erin');
    
    INSERT INTO Genre (name) VALUES('Rock');
    INSERT INTO Genre (name) VALUES('Metal');
"""
)

In [5]:
cur.executescript(
"""
    INSERT INTO Album (title, artist_id) VALUES ('Who Made Who', 1);
    INSERT INTO Album (title, artist_id) VALUES ('IV', 2);
    INSERT INTO Album (title, artist_id) VALUES ('Simon Dominic', 3);
    INSERT INTO Album (title, artist_id) VALUES ('Simon Dominic', 4);
    INSERT INTO Album (title, artist_id) VALUES ('Lucy Dominic', 5);
    INSERT INTO Album (title, artist_id) VALUES ('Lucy Dominic', 6);
"""
)

In [6]:
cur.executescript(
"""
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('Black Dog', 5, 297, 0, 2, 1);
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('Stairway', 5, 482, 0, 2, 1);
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('About to Rock', 5, 313, 0, 1, 2);
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('Who Made Who', 5, 207, 0, 1, 2);
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('Simon', 5, 313, 0, 3, 2);
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('Lucy', 5, 207, 0, 4, 2);
"""
)

In [7]:
cur.execute('SELECT * FROM Album')
cur.fetchall()

[(1, 'Who Made Who', 1),
 (2, 'IV', 2),
 (3, 'Simon Dominic', 3),
 (4, 'Simon Dominic', 4),
 (5, 'Lucy Dominic', 5),
 (6, 'Lucy Dominic', 6)]

In [8]:
cur.execute('SELECT * FROM Track')
cur.fetchall()

[(1, 'Black Dog', 297, 5, 0, 2, 1),
 (2, 'Stairway', 482, 5, 0, 2, 1),
 (3, 'About to Rock', 313, 5, 0, 1, 2),
 (4, 'Who Made Who', 207, 5, 0, 1, 2),
 (5, 'Simon', 313, 5, 0, 3, 2),
 (6, 'Lucy', 207, 5, 0, 4, 2)]

In [9]:
# cur.executescript(
# """
#     DROP TABLE Artist;
#     DROP TABLE Album;
#     DROP TABLE Genre;
#     DROP TABLE Track;
# """
# )

In [10]:
cur.close()

---

## JOIN

In [11]:
# sqlite3와 connect !
conn = sqlite3.connect(":memory:") # memory에 임시적으로 !
cur = conn.cursor()

In [12]:
cur.executescript(
"""
    CREATE TABLE Artist(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT
    ) ;
    
    CREATE TABLE Genre(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        name TEXT
    ) ;
    
    CREATE TABLE Album(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        artist_id INTEGER
    ) ;
    
    CREATE TABLE Track(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
        title TEXT,
        length INTEGER,
        rating INTEGER,
        count INTEGER,
        album_id INTEGER,
        genre_id INTEGER
    ) ;
"""
)

cur.executescript(
"""
    INSERT INTO Artist (name) VALUES('artist01');
    INSERT INTO Artist (name) VALUES('artist02');
    INSERT INTO Artist (name) VALUES('artist03');
    INSERT INTO Artist (name) VALUES('artist04');
    INSERT INTO Artist (name) VALUES('artist05');
    INSERT INTO Artist (name) VALUES('artist06');
    
    INSERT INTO Genre (name) VALUES('Rock');
    INSERT INTO Genre (name) VALUES('Metal');
"""
)
cur.executescript(
"""
    INSERT INTO Album (title, artist_id) VALUES ('Who Made Who', 1);
    INSERT INTO Album (title, artist_id) VALUES ('IV', 2);
    INSERT INTO Album (title, artist_id) VALUES ('Simon Dominic', 3);
    INSERT INTO Album (title, artist_id) VALUES ('Simon Dominic', 4);
    INSERT INTO Album (title, artist_id) VALUES ('Lucy Dominic', 5);
    INSERT INTO Album (title, artist_id) VALUES ('Lucy Dominic', 6);
"""
)
cur.executescript(
"""
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('Black Dog', 5, 297, 0, 2, 1);
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('Stairway', 5, 482, 0, 2, 1);
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('About to Rock', 5, 313, 0, 1, 2);
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('Who Made Who', 5, 207, 0, 1, 2);
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('Simon', 5, 313, 0, 3, 2);
    INSERT INTO Track (title, rating, length, count, album_id, genre_id) VALUES ('Lucy', 5, 207, 0, 4, 2);
"""
)

In [13]:
# 크로스 조인

cur.execute('SELECT * FROM Artist, Album') # cur.execute('SELECT * FROM Artist cross join Album')
for row in cur.fetchall():
    print(row)

(1, 'artist01', 1, 'Who Made Who', 1)
(1, 'artist01', 2, 'IV', 2)
(1, 'artist01', 3, 'Simon Dominic', 3)
(1, 'artist01', 4, 'Simon Dominic', 4)
(1, 'artist01', 5, 'Lucy Dominic', 5)
(1, 'artist01', 6, 'Lucy Dominic', 6)
(2, 'artist02', 1, 'Who Made Who', 1)
(2, 'artist02', 2, 'IV', 2)
(2, 'artist02', 3, 'Simon Dominic', 3)
(2, 'artist02', 4, 'Simon Dominic', 4)
(2, 'artist02', 5, 'Lucy Dominic', 5)
(2, 'artist02', 6, 'Lucy Dominic', 6)
(3, 'artist03', 1, 'Who Made Who', 1)
(3, 'artist03', 2, 'IV', 2)
(3, 'artist03', 3, 'Simon Dominic', 3)
(3, 'artist03', 4, 'Simon Dominic', 4)
(3, 'artist03', 5, 'Lucy Dominic', 5)
(3, 'artist03', 6, 'Lucy Dominic', 6)
(4, 'artist04', 1, 'Who Made Who', 1)
(4, 'artist04', 2, 'IV', 2)
(4, 'artist04', 3, 'Simon Dominic', 3)
(4, 'artist04', 4, 'Simon Dominic', 4)
(4, 'artist04', 5, 'Lucy Dominic', 5)
(4, 'artist04', 6, 'Lucy Dominic', 6)
(5, 'artist05', 1, 'Who Made Who', 1)
(5, 'artist05', 2, 'IV', 2)
(5, 'artist05', 3, 'Simon Dominic', 3)
(5, 'artist05', 4, 'Simon Dominic', 4)
(5, 'artist05', 5, 'Lucy Dominic', 5)
(5, 'artist05', 6, 'Lucy Dominic', 6)
(6, 'artist06', 1, 'Who Made Who', 1)
(6, 'artist06', 2, 'IV', 2)
(6, 'artist06', 3, 'Simon Dominic', 3)
(6, 'artist06', 4, 'Simon Dominic', 4)
(6, 'artist06', 5, 'Lucy Dominic', 5)
(6, 'artist06', 6, 'Lucy Dominic', 6)

Artist와 Album을 크로스 조인해보았다. 크로스 조인은 N x M 으로 묶여서 나타나므로 매우 비효율적이다. 그래서 아래와 같이 Inner Join으로 처리하는 것이 좋다.

In [14]:
# Inner Join _ Artist - Album

cur.execute("SELECT * FROM Artist JOIN Album on Artist.id=Album.artist_id")
for row in cur.fetchall():
    print(row)

(1, 'artist01', 1, 'Who Made Who', 1)
(2, 'artist02', 2, 'IV', 2)
(3, 'artist03', 3, 'Simon Dominic', 3)
(4, 'artist04', 4, 'Simon Dominic', 4)
(5, 'artist05', 5, 'Lucy Dominic', 5)
(6, 'artist06', 6, 'Lucy Dominic', 6)

In [15]:
# Inner Join _ Album - Track

cur.execute("SELECT * FROM Album JOIN Track on Album.id=Track.album_id")
for row in cur.fetchall():
    print(row)

(2, 'IV', 2, 1, 'Black Dog', 297, 5, 0, 2, 1)
(2, 'IV', 2, 2, 'Stairway', 482, 5, 0, 2, 1)
(1, 'Who Made Who', 1, 3, 'About to Rock', 313, 5, 0, 1, 2)
(1, 'Who Made Who', 1, 4, 'Who Made Who', 207, 5, 0, 1, 2)
(3, 'Simon Dominic', 3, 5, 'Simon', 313, 5, 0, 3, 2)
(4, 'Simon Dominic', 4, 6, 'Lucy', 207, 5, 0, 4, 2)

In [16]:
# 여러번 하는 Inner Join

cur.execute("SELECT *\
            FROM Track JOIN Album JOIN Genre JOIN Artist\
            ON Track.album_id = Album.id and \
            Track.genre_id = Genre.id and \
            Album.artist_id = Artist.id")
for row in cur.fetchall():
    print(row)

(1, 'Black Dog', 297, 5, 0, 2, 1, 2, 'IV', 2, 1, 'Rock', 2, 'artist02')
(2, 'Stairway', 482, 5, 0, 2, 1, 2, 'IV', 2, 1, 'Rock', 2, 'artist02')
(3, 'About to Rock', 313, 5, 0, 1, 2, 1, 'Who Made Who', 1, 2, 'Metal', 1, 'artist01')
(4, 'Who Made Who', 207, 5, 0, 1, 2, 1, 'Who Made Who', 1, 2, 'Metal', 1, 'artist01')
(5, 'Simon', 313, 5, 0, 3, 2, 3, 'Simon Dominic', 3, 2, 'Metal', 3, 'artist03')
(6, 'Lucy', 207, 5, 0, 4, 2, 4, 'Simon Dominic', 4, 2, 'Metal', 4, 'artist04')

In [17]:
# 여러번 하는 Inner Join

cur.execute("SELECT Track.title, Artist.name, Album.title, Genre.name \
            FROM Track JOIN Album JOIN Genre JOIN Artist\
            ON Track.album_id = Album.id and \
            Track.genre_id = Genre.id and \
            Album.artist_id = Artist.id")
for row in cur.fetchall():
    print('[트랙 타이틀] : {:15s} | '.format(row[0]), end = " ")
    print('[아티스트] : {:20s} | '.format(row[1]), end = " ")
    print('[앨범 타이틀] : {:20s} | '.format(row[2]), end = " ")
    print('[장르] : {:10s} | '.format(row[3]), end = " ")
    print()

[트랙 타이틀] : Black Dog       |  [아티스트] : artist02             |  [앨범 타이틀] : IV                   |  [장르] : Rock       |
[트랙 타이틀] : Stairway        |  [아티스트] : artist02             |  [앨범 타이틀] : IV                   |  [장르] : Rock       |
[트랙 타이틀] : About to Rock   |  [아티스트] : artist01             |  [앨범 타이틀] : Who Made Who         |  [장르] : Metal      |
[트랙 타이틀] : Who Made Who    |  [아티스트] : artist01             |  [앨범 타이틀] : Who Made Who         |  [장르] : Metal      |
[트랙 타이틀] : Simon           |  [아티스트] : artist03             |  [앨범 타이틀] : Simon Dominic        |  [장르] : Metal      |
[트랙 타이틀] : Lucy            |  [아티스트] : artist04             |  [앨범 타이틀] : Simon Dominic        |  [장르] : Metal      |

In [18]:
# Left Join _ Album - Track

cur.execute('INSERT INTO Track (title) VALUES ("테스트를 위해 아무거나 !")')

In [19]:
cur.execute('SELECT * FROM Track LEFT JOIN Album on Album.id = Track.album_id')
for row in cur.fetchall() :
    print(row)

(1, 'Black Dog', 297, 5, 0, 2, 1, 2, 'IV', 2)
(2, 'Stairway', 482, 5, 0, 2, 1, 2, 'IV', 2)
(3, 'About to Rock', 313, 5, 0, 1, 2, 1, 'Who Made Who', 1)
(4, 'Who Made Who', 207, 5, 0, 1, 2, 1, 'Who Made Who', 1)
(5, 'Simon', 313, 5, 0, 3, 2, 3, 'Simon Dominic', 3)
(6, 'Lucy', 207, 5, 0, 4, 2, 4, 'Simon Dominic', 4)
(7, '테스트를 위해 아무거나 !', None, None, None, None, None, None, None, None)

In [20]:
cur.execute('SELECT * FROM Album LEFT JOIN Track on Album.id = Track.album_id')
for row in cur.fetchall() :
    print(row)

(1, 'Who Made Who', 1, 3, 'About to Rock', 313, 5, 0, 1, 2)
(1, 'Who Made Who', 1, 4, 'Who Made Who', 207, 5, 0, 1, 2)
(2, 'IV', 2, 1, 'Black Dog', 297, 5, 0, 2, 1)
(2, 'IV', 2, 2, 'Stairway', 482, 5, 0, 2, 1)
(3, 'Simon Dominic', 3, 5, 'Simon', 313, 5, 0, 3, 2)
(4, 'Simon Dominic', 4, 6, 'Lucy', 207, 5, 0, 4, 2)
(5, 'Lucy Dominic', 5, None, None, None, None, None, None, None)
(6, 'Lucy Dominic', 6, None, None, None, None, None, None, None)

---

## Dump (backup)

지금까지의 conn 객체로 작업했던 내용을 파일로 dump 뜰 수 있다.

In [21]:
with open("SQLite_dump_test.dump","w") as f :
    for line in conn.iterdump():
        f.write('%s\n' % line)

In [22]:
data = None
with open("SQLite_dump_test.dump", "r") as f :
    data = f.read()
data

'BEGIN TRANSACTION;\nCREATE TABLE Album(\n        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,\n        title TEXT,\n        artist_id INTEGER\n    );\nINSERT INTO "Album" VALUES(1,\'Who Made Who\',1);\nINSERT INTO "Album" VALUES(2,\'IV\',2);\nINSERT INTO "Album" VALUES(3,\'Simon Dominic\',3);\nINSERT INTO "Album" VALUES(4,\'Simon Dominic\',4);\nINSERT INTO "Album" VALUES(5,\'Lucy Dominic\',5);\nINSERT INTO "Album" VALUES(6,\'Lucy Dominic\',6);\nCREATE TABLE Artist(\n        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,\n        name TEXT\n    );\nINSERT INTO "Artist" VALUES(1,\'artist01\');\nINSERT INTO "Artist" VALUES(2,\'artist02\');\nINSERT INTO "Artist" VALUES(3,\'artist03\');\nINSERT INTO "Artist" VALUES(4,\'artist04\');\nINSERT INTO "Artist" VALUES(5,\'artist05\');\nINSERT INTO "Artist" VALUES(6,\'artist06\');\nCREATE TABLE Genre(\n        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,\n        name TEXT\n    );\nINSERT INTO "Genre" VALUES(1,\'Rock\');\nINSERT INTO "Genre" VALUES(2,\'Metal\');\nCREATE TABLE Track(\n        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,\n        title TEXT,\n        length INTEGER,\n        rating INTEGER,\n        count INTEGER,\n        album_id INTEGER,\n        genre_id INTEGER\n    );\nINSERT INTO "Track" VALUES(1,\'Black Dog\',297,5,0,2,1);\nINSERT INTO "Track" VALUES(2,\'Stairway\',482,5,0,2,1);\nINSERT INTO "Track" VALUES(3,\'About to Rock\',313,5,0,1,2);\nINSERT INTO "Track" VALUES(4,\'Who Made Who\',207,5,0,1,2);\nINSERT INTO "Track" VALUES(5,\'Simon\',313,5,0,3,2);\nINSERT INTO "Track" VALUES(6,\'Lucy\',207,5,0,4,2);\nINSERT INTO "Track" VALUES(7,\'테스트를 위해 아무거나 !\',NULL,NULL,NULL,NULL,NULL);\nDELETE FROM "sqlite_sequence";\nINSERT INTO "sqlite_sequence" VALUES(\'Artist\',6);\nINSERT INTO "sqlite_sequence" VALUES(\'Genre\',2);\nINSERT INTO "sqlite_sequence" VALUES(\'Album\',6);\nINSERT INTO "sqlite_sequence" VALUES(\'Track\',7);\nCOMMIT;\n'

In [23]:
conn = sqlite3.connect("만들 덤프 파일.db")

In [24]:
# data의 덤프를 '만들 덤프 파일'에 입력

cur = conn.cursor()
cur.executescript(data)

OperationalError: table Album already exists

이제 '만들 덤프 파일.db'를 메모장이나 편집기, 브라우저 등으로 확인해 볼 수 있다.

---

## SQL Alchemy _ 아나콘다 깔면 있다.

In [25]:
import sqlalchemy

In [26]:
sqlalchemy.__version__

'1.2.1'

In [27]:
from sqlalchemy import create_engine

In [28]:
engine = create_engine("sqlite:///sqlalchemy_test.db", echo = True) # :memory:로 써도 된다.
print(engine)

Engine(sqlite:///sqlalchemy_test.db)

SQLAlchemy가 데이터베이스와 상호작용하기 위해서는 위와 같이 Engine을 만들어야 한다. 

*Note that, creating an engine does not connect to the database instantly. This process is postponed to when it's needed (like when we submit a query, or when create/update a row in a table)*

In [29]:
from sqlalchemy import MetaData
metadata = MetaData()

MetaData is a container object that keeps together many different features of a database (or multiple databases) being described.

In [30]:
print(metadata)
metadata

MetaData(bind=None)

MetaData(bind=None)

[metadata란 과연 무엇이란 말인가!?]

A collection of :class:`.Table` objects and their associated schema
constructs.

Holds a collection of :class:`.Table` objects as well as
an optional binding to an :class:`.Engine` or
:class:`.Connection`.  If bound, the :class:`.Table` objects
in the collection and their columns may participate in implicit SQL
execution.

In [31]:
from sqlalchemy import Table, Column, Integer, String, ForeignKey

In [32]:
users = Table('users', metadata, 
             Column('id', Integer, primary_key = True),
             Column('name', String),
             Column('fullname',String))

In [33]:
print(users)

users

In [34]:
address = Table('addresses', metadata, 
             Column('id', Integer, primary_key = True),
             Column('user_id', Integer, ForeignKey('users.id') ), # 누구를 참조하는지, 참조 대상
             Column('email', String, nullable = False))

In [35]:
metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email', String(), table=<addresses>, nullable=False), schema=None)})

In [36]:
print(type(metadata.tables['users']))
print()
print(metadata.tables['users'])
metadata.tables['users']

<class 'sqlalchemy.sql.schema.Table'>

users

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None)

In [37]:
# metadata 객체에 저장된 테이블들의 이름

for t in metadata.sorted_tables :
    print(t.name)

users
addresses

위와 같이 Table 생성 시 metadata 객체를 파라미터 값에 넣어준 결과로 users 테이블과 address 테이블의 정보가 메타데이터 객체에 immutabledict 형태로 저장되었다. 

메타데이터 객체에 users 테이블과 address 테이블의 정보가 들어있지만 아직 bind 되지 않은 상태이다. 바인드가 되면 SQL 실행이 가능해진다.

The usual way to issue CREATE is to use create_all() on the MetaData object. This method will issue queries that first check for the existence of each individual table, and if not found will issue the CREATE statements:

In [38]:
metadata.create_all(engine) # 메타데이터에 users, addresses 가 들어 있음

2018-07-10 23:31:37,889 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 23:31:37,890 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:31:37,893 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 23:31:37,894 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:31:37,897 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-10 23:31:37,899 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:31:37,902 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2018-07-10 23:31:37,903 INFO sqlalchemy.engine.base.Engine ()

In [39]:
print(metadata) # 아직 바인딩한게 없음

MetaData(bind=None)

In [40]:
for row in metadata.tables :
    print(row)

users
addresses

SQL을 쓰지 않고도 SQL문이 만들어졌다.

In [41]:
print(users.insert()) # 이 객체에 뭐라고 설정을 하면 아래 값에 뿅뿅뿅 값을 넣을 것임.

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

위와 같이 테이블객체.insert()를 하면 INSERT에 해당하는 SQL문이 만들어진다. 이제 아래와 같이 해당 테이블의 attribute에 들어갈 값들을 파라미터에 넣어주기만 하면 된다.

In [42]:
users.insert().values(name="Simon Lucy", fullname = "SanghyeonSimon") # Users 객체의 attribute들

In [43]:
print(users.insert().values(name="Simon Lucy", fullname = "SanghyeonSimon")) # Users 객체의 attribute들

INSERT INTO users (name, fullname) VALUES (:name, :fullname)

In [44]:
insert = users.insert().values(name="Simon Lucy", fullname = "SanghyeonSimon") # Users 객체의 attribute들
insert.compile().params

{'fullname': 'SanghyeonSimon', 'name': 'Simon Lucy'}

In [45]:
# insert 테이블을 바인드함 => SQL로 활용 가능해짐
insert.bind = engine
insert.bind

Engine(sqlite:///sqlalchemy_test.db)

In [46]:
# procure a connection from an engine

conn = engine.connect()

connect()함수는 Connection 객체를 반환한다. Connection 객체는 데이터베이스에 접근하기 위해서 내부적으로 DBAPI connection을 이용한다. DBAPI에 대한 connection은 connection을 가지고 있는 Pool로부터 얻는다.

In [47]:
result = conn.execute(insert) # insert는 bind 되어있다

2018-07-10 23:31:51,483 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 23:31:51,485 INFO sqlalchemy.engine.base.Engine ('Simon Lucy', 'SanghyeonSimon')
2018-07-10 23:31:51,488 INFO sqlalchemy.engine.base.Engine COMMIT

In [48]:
result.inserted_primary_key

[7]

In [49]:
# users.insert()는 users 테이블에서의 INSERT SQL 구문을 의미한다.
insert = users.insert()
print(insert)

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [50]:
# INSERT SQL 구문을 execute 하는 또 다른 방법
conn.execute(insert, name = "Lee", fullname = "Jinsil")

2018-07-10 23:31:52,162 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 23:31:52,165 INFO sqlalchemy.engine.base.Engine ('Lee', 'Jinsil')
2018-07-10 23:31:52,168 INFO sqlalchemy.engine.base.Engine COMMIT

In [51]:
result = conn.execute(insert, name = "Simon" , fullname = "Peter")

2018-07-10 23:31:52,586 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2018-07-10 23:31:52,588 INFO sqlalchemy.engine.base.Engine ('Simon', 'Peter')
2018-07-10 23:31:52,590 INFO sqlalchemy.engine.base.Engine COMMIT

In [52]:
result.inserted_primary_key

[9]

In [53]:
# address table에 insert 하는 기능

conn.execute(address.insert(), [
    {'user_id' : 1, 'email' : 'zerojsh00@nate.com'},
    {'user_id' : 2, 'email' : 'mail@uos.ac.kr'}
])

2018-07-10 23:31:54,844 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email) VALUES (?, ?)
2018-07-10 23:31:54,846 INFO sqlalchemy.engine.base.Engine ((1, 'zerojsh00@nate.com'), (2, 'mail@uos.ac.kr'))
2018-07-10 23:31:54,849 INFO sqlalchemy.engine.base.Engine COMMIT

위와 같이 여러 개를 동시에 INSERT 하기 위해서는 list 형태로 넣어준다.

여기까지는 딱히 편하다는 느낌이 안 들수도 있다.

In [54]:
from sqlalchemy.sql import select

In [55]:
query = select([users]) # 여러 테이블에서 select 해올 수 있으므로 리스트 형태로 넣어준다.
result = conn.execute(query)

print('result >>> ',result)

for row in result :
    print(row)

2018-07-10 23:33:13,524 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-10 23:33:13,525 INFO sqlalchemy.engine.base.Engine ()
result >>>  <sqlalchemy.engine.result.ResultProxy object at 0x11250a400>
(1, 'Simon Lucy', 'SanghyeonSimon')
(2, 'Lee', 'Jinsil')
(3, 'Simon', 'Peter')
(4, 'Simon Lucy', 'SanghyeonSimon')
(5, 'Lee', 'Jinsil')
(6, 'Simon', 'Peter')
(7, 'Simon Lucy', 'SanghyeonSimon')
(8, 'Lee', 'Jinsil')
(9, 'Simon', 'Peter')

In [56]:
result = conn.execute(query) # result 를 다시 받아 옴

2018-07-10 23:33:34,554 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2018-07-10 23:33:34,555 INFO sqlalchemy.engine.base.Engine ()

In [57]:
row = result.fetchone()

In [58]:
print(row)

(1, 'Simon Lucy', 'SanghyeonSimon')

In [59]:
row = result.fetchone()
print(row)

(2, 'Lee', 'Jinsil')

while문으로 fetchone() 하는 것이 일반적이다.

In [60]:
result = conn.execute(select([users.c.name, users.c.fullname])) #'.c. 는 instance 안의 Column을 의미한다.'

for row in result :
    print(row)

2018-07-10 23:33:58,243 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2018-07-10 23:33:58,245 INFO sqlalchemy.engine.base.Engine ()
('Simon Lucy', 'SanghyeonSimon')
('Lee', 'Jinsil')
('Simon', 'Peter')
('Simon Lucy', 'SanghyeonSimon')
('Lee', 'Jinsil')
('Simon', 'Peter')
('Simon Lucy', 'SanghyeonSimon')
('Lee', 'Jinsil')
('Simon', 'Peter')

### Conjunction

In [61]:
from sqlalchemy import and_, or_, not_

In [63]:
type(and_)

function

In [62]:
print(users.c.id == address.c.user_id) # 파이썬 문법이 어떻게 SQL 문법으로 바뀌는지 ....

users.id = addresses.user_id

In [148]:
print(or_(users.c.id == address.c.user_id, users.c.id == 1))

users.id = addresses.user_id OR users.id = :id_1

In [152]:
print((users.c.id == address.c.user_id) | (users.c.id == 1))

users.id = addresses.user_id OR users.id = :id_1

In [64]:
# Python 문법으로 where 절을 정의하여 SQL로 만들어주기

result = conn.execute(select([users]).where(users.c.id == 1))

2018-07-10 23:37:52,307 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?
2018-07-10 23:37:52,308 INFO sqlalchemy.engine.base.Engine (1,)

In [65]:
for row in result :
    print(row)

(1, 'Simon Lucy', 'SanghyeonSimon')

In [66]:
# inner join

result = conn.execute(select([users, address]).where(users.c.id == address.c.user_id))

for row in result :
    print(row)

2018-07-10 23:38:31,711 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email
FROM users, addresses
WHERE users.id = addresses.user_id
2018-07-10 23:38:31,713 INFO sqlalchemy.engine.base.Engine ()
(1, 'Simon Lucy', 'SanghyeonSimon', 1, 1, 'zerojsh00@nate.com')
(2, 'Lee', 'Jinsil', 2, 2, 'mail@uos.ac.kr')
(1, 'Simon Lucy', 'SanghyeonSimon', 3, 1, 'zerojsh00@nate.com')
(2, 'Lee', 'Jinsil', 4, 2, 'mail@uos.ac.kr')
(1, 'Simon Lucy', 'SanghyeonSimon', 5, 1, 'zerojsh00@nate.com')
(2, 'Lee', 'Jinsil', 6, 2, 'mail@uos.ac.kr')

이렇게 하면 join을 몰라도 where 절로 join 비슷한 결과를 가져올 수 있다.

In [67]:
result = conn.execute(select([users]).where(users.c.name.like('%S%'))) # %S% => S로 시작하는 모든 것

for row in result :
    print(row)

2018-07-10 23:39:13,508 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.name LIKE ?
2018-07-10 23:39:13,510 INFO sqlalchemy.engine.base.Engine ('%S%',)
(1, 'Simon Lucy', 'SanghyeonSimon')
(3, 'Simon', 'Peter')
(4, 'Simon Lucy', 'SanghyeonSimon')
(6, 'Simon', 'Peter')
(7, 'Simon Lucy', 'SanghyeonSimon')
(9, 'Simon', 'Peter')

In [68]:
# where 절을 두번 연달아 쓰기

result = conn.execute(select([users, address]).where(users.c.id == address.c.user_id).where(users.c.name.like('%S%')))

for row in result:
    print(row)

2018-07-10 23:39:19,493 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email
FROM users, addresses
WHERE users.id = addresses.user_id AND users.name LIKE ?
2018-07-10 23:39:19,496 INFO sqlalchemy.engine.base.Engine ('%S%',)
(1, 'Simon Lucy', 'SanghyeonSimon', 1, 1, 'zerojsh00@nate.com')
(1, 'Simon Lucy', 'SanghyeonSimon', 3, 1, 'zerojsh00@nate.com')
(1, 'Simon Lucy', 'SanghyeonSimon', 5, 1, 'zerojsh00@nate.com')

### join

In [69]:
from sqlalchemy import join

In [71]:
# address 테이블에서 user_id가 참조해야 하는 Foreign Key라는 사실을 명시해주었기 때문에 자동으로 Join할 수 있다.

print(users.join(address))

users JOIN addresses ON users.id = addresses.user_id

ON condition of the join, as it’s called, was automatically generated based on the ForeignKey object

In [72]:
# Foreign Key를 명시해주지 않을 경우 이처럼 직접 써줄 수 있다.

print(users.join(address, users.c.id == address.c.user_id))

users JOIN addresses ON users.id = addresses.user_id

In [73]:
result = conn.execute(select([users]).select_from(users.join(address)))

2018-07-10 23:46:35,473 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users JOIN addresses ON users.id = addresses.user_id
2018-07-10 23:46:35,474 INFO sqlalchemy.engine.base.Engine ()

In [74]:
result.fetchall()

[(1, 'Simon Lucy', 'SanghyeonSimon'),
 (2, 'Lee', 'Jinsil'),
 (1, 'Simon Lucy', 'SanghyeonSimon'),
 (2, 'Lee', 'Jinsil'),
 (1, 'Simon Lucy', 'SanghyeonSimon'),
 (2, 'Lee', 'Jinsil')]

PK, FK 설정으로 Join이 엄청나게 간단해진 것이다. Join된 가상의 테이블에서 select를 한 것이라고 보면 된다.

While join() exclusively deals with the “right” side of the JOIN, we can also control the “left” side, in those cases where it’s needed, using select_from().

In [75]:
result = conn.execute(select([users]).select_from(users.join(address)))

for row in result :
    print(row)

2018-07-10 23:51:30,676 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users JOIN addresses ON users.id = addresses.user_id
2018-07-10 23:51:30,677 INFO sqlalchemy.engine.base.Engine ()
(1, 'Simon Lucy', 'SanghyeonSimon')
(2, 'Lee', 'Jinsil')
(1, 'Simon Lucy', 'SanghyeonSimon')
(2, 'Lee', 'Jinsil')
(1, 'Simon Lucy', 'SanghyeonSimon')
(2, 'Lee', 'Jinsil')

In [76]:
result = conn.execute(select([users.c.name, address.c.email]).select_from(users.join(address)))
for row in result :
    print(row)

2018-07-10 23:52:03,452 INFO sqlalchemy.engine.base.Engine SELECT users.name, addresses.email
FROM users JOIN addresses ON users.id = addresses.user_id
2018-07-10 23:52:03,455 INFO sqlalchemy.engine.base.Engine ()
('Simon Lucy', 'zerojsh00@nate.com')
('Lee', 'mail@uos.ac.kr')
('Simon Lucy', 'zerojsh00@nate.com')
('Lee', 'mail@uos.ac.kr')
('Simon Lucy', 'zerojsh00@nate.com')
('Lee', 'mail@uos.ac.kr')

---

## 예제 : Artist / Album / Genre / Track

In [89]:
engine = create_engine("sqlite:///SQLalchemystudy.db", echo = True)

In [90]:
Artist = Table("Artist", metadata, # 혼자 존재할 수 없고 meta 안에 있어야 한다...?
              Column("id", Integer, primary_key = True),
              Column("name", String, nullable = False),
              extend_existing = True)

Album = Table("Album", metadata,
             Column("id", Integer, primary_key = True),
             Column("title", String, nullable = False),
             Column("artist_id", Integer, ForeignKey("Artist.id")),
             extend_existing = True) # FK를 명시해준다.

Genre = Table("Genre", metadata,
             Column("id", Integer, primary_key = True),
             Column("name", String, nullable = False),
             extend_existing = True)

Track = Table("Track", metadata,
              Column("id", Integer, primary_key = True),
              Column("title", String, nullable = False),
              Column("length", Integer, nullable = False),
              Column("rating", Integer, nullable = False),
              Column("count", Integer, nullable = False),
              Column("album_id", Integer, ForeignKey("Album.id")),
              Column("genre_id", Integer, ForeignKey("Genre.id")),
              extend_existing = True)

metadata.create_all(engine)

2018-07-10 23:58:09,336 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 23:58:09,337 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,341 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 23:58:09,342 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,344 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-10 23:58:09,346 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,348 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2018-07-10 23:58:09,349 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,351 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 23:58:09,352 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,354 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 23:58:09,355 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,357 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 23:58:09,358 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,360 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 23:58:09,361 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,363 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2018-07-10 23:58:09,365 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,369 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 23:58:09,370 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 23:58:09,372 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,375 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 23:58:09,376 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 23:58:09,378 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,382 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 23:58:09,384 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2018-07-10 23:58:09,386 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,389 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 23:58:09,391 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2018-07-10 23:58:09,392 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,395 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 23:58:09,398 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2018-07-10 23:58:09,399 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 23:58:09,402 INFO sqlalchemy.engine.base.Engine COMMIT

The usual way to issue CREATE is to use create_all() on the MetaData object. This method will issue queries that first check for the existence of each individual table, and if not found will issue the CREATE statements:

In [91]:
for row in engine.table_names():
    print(row)

2018-07-10 23:58:13,441 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 23:58:13,442 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track
addresses
users

In [93]:
conn.execute(Artist.insert(), [
    {"name" : "Led Zepplin"},
    {"name" : "AC/DC"}
])

conn.execute(Album.insert(), [
    {"title" : "IV", "artist_id" : 1},
    {"title" : "Who Made Who", "artist_id" : 2}
])

conn.execute(Genre.insert(), [
    {"name" : "Rock"},
    {"name" : "Metal"}
])

conn.execute(Track.insert(), [
    {"title" : "Black Dog", "rating" : 5, "length" : 123, "count" : 0, "album_id" : 1, "genre_id" : 1},
    {"title" : "Stairway", "rating" : 3, "length" : 321, "count" : 0, "album_id" : 1, "genre_id" : 2},
    {"title" : "SimonDominic", "rating" : 2, "length" : 321, "count" : 0, "album_id" : 2, "genre_id" : 1},
    {"title" : "LucyDominic", "rating" : 4, "length" : 321, "count" : 0, "album_id" : 2, "genre_id" : 2}

])

2018-07-10 23:59:21,300 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2018-07-10 23:59:21,302 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2018-07-10 23:59:21,305 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 23:59:21,308 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2018-07-10 23:59:21,309 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2018-07-10 23:59:21,311 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 23:59:21,314 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2018-07-10 23:59:21,315 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2018-07-10 23:59:21,318 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 23:59:21,320 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2018-07-10 23:59:21,321 INFO sqlalchemy.engine.base.Engine (('Black Dog', 123, 5, 0, 1, 1), ('Stairway', 321, 3, 0, 1, 2), ('SimonDominic', 321, 2, 0, 2, 1), ('LucyDominic', 321, 4, 0, 2, 2))
2018-07-10 23:59:21,324 INFO sqlalchemy.engine.base.Engine COMMIT

In [94]:
result = conn.execute(Artist.select()) # 특정 테이블을 한정해 놓고 SELECT를 실행한다.

for row in result :
    print(row)

2018-07-10 23:59:24,909 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"
2018-07-10 23:59:24,910 INFO sqlalchemy.engine.base.Engine ()
(1, 'Led Zepplin')
(2, 'AC/DC')
(3, 'Led Zepplin')
(4, 'AC/DC')
(5, 'Led Zepplin')
(6, 'AC/DC')
(7, 'Led Zepplin')
(8, 'AC/DC')

In [95]:
result = conn.execute(select([Track])
                     .where(
                         and_(
                             Track.c.album_id == 1, 
                             or_(
                                 Track.c.genre_id == 1,
                                 Track.c.genre_id == 2
                             )
                         )
                     ))

for row in result :
    print(row)

2018-07-10 23:59:57,166 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)
2018-07-10 23:59:57,167 INFO sqlalchemy.engine.base.Engine (1, 1, 2)
(1, 'Black Dog', 123, 5, 0, 1, 1)
(2, 'Stairway', 321, 3, 0, 1, 2)
(5, 'Black Dog', 123, 5, 0, 1, 1)
(6, 'Stairway', 321, 3, 0, 1, 2)
(9, 'Black Dog', 123, 5, 0, 1, 1)
(10, 'Stairway', 321, 3, 0, 1, 2)
(13, 'Black Dog', 123, 5, 0, 1, 1)
(14, 'Stairway', 321, 3, 0, 1, 2)

In [96]:
from sqlalchemy import update

In [97]:
conn.execute(Track.update().values(genre_id=3).where(Track.c.genre_id == 1))

2018-07-11 00:00:19,364 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".genre_id = ?
2018-07-11 00:00:19,367 INFO sqlalchemy.engine.base.Engine (3, 1)
2018-07-11 00:00:19,369 INFO sqlalchemy.engine.base.Engine COMMIT

In [98]:
conn.execute(Track.update().values(genre_id=1).where(Track.c.genre_id == 3))

2018-07-11 00:00:27,687 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".genre_id = ?
2018-07-11 00:00:27,690 INFO sqlalchemy.engine.base.Engine (1, 3)
2018-07-11 00:00:27,692 INFO sqlalchemy.engine.base.Engine COMMIT

In [99]:
print(Track.join(Album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [100]:
result = conn.execute(Track.select().select_from(Track.join(Album))) # 조인한 애들로부터 Select
 
for row in result :
    print(row)

2018-07-11 00:00:34,516 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2018-07-11 00:00:34,521 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 123, 5, 0, 1, 1)
(2, 'Stairway', 321, 3, 0, 1, 2)
(3, 'SimonDominic', 321, 2, 0, 2, 1)
(4, 'LucyDominic', 321, 4, 0, 2, 2)
(5, 'Black Dog', 123, 5, 0, 1, 1)
(6, 'Stairway', 321, 3, 0, 1, 2)
(7, 'SimonDominic', 321, 2, 0, 2, 1)
(8, 'LucyDominic', 321, 4, 0, 2, 2)
(9, 'Black Dog', 123, 5, 0, 1, 1)
(10, 'Stairway', 321, 3, 0, 1, 2)
(11, 'SimonDominic', 321, 2, 0, 2, 1)
(12, 'LucyDominic', 321, 4, 0, 2, 2)
(13, 'Black Dog', 123, 5, 0, 1, 1)
(14, 'Stairway', 321, 3, 0, 1, 2)
(15, 'SimonDominic', 321, 2, 0, 2, 1)
(16, 'LucyDominic', 321, 4, 0, 2, 2)

In [101]:
result = conn.execute(select([Track.c.title, Album.c.title]).select_from(Track.join(Album)))

for row in result :
    print(row)

2018-07-11 00:00:44,559 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2018-07-11 00:00:44,560 INFO sqlalchemy.engine.base.Engine ()
('Black Dog', 'IV')
('Stairway', 'IV')
('SimonDominic', 'Who Made Who')
('LucyDominic', 'Who Made Who')
('Black Dog', 'IV')
('Stairway', 'IV')
('SimonDominic', 'Who Made Who')
('LucyDominic', 'Who Made Who')
('Black Dog', 'IV')
('Stairway', 'IV')
('SimonDominic', 'Who Made Who')
('LucyDominic', 'Who Made Who')
('Black Dog', 'IV')
('Stairway', 'IV')
('SimonDominic', 'Who Made Who')
('LucyDominic', 'Who Made Who')

In [102]:
print(Track.join(Album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [103]:
print(Track.join(Album).join(Genre))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id

In [104]:
print(Track.join(Album).join(Genre).join(Artist))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

In [105]:
# 4개의 테이블을 모두 Inner Join

result = conn.execute(select([Track.c.title, Album.c.title, Genre.c.name, Artist.c.name])
                     .select_from(Track.join(Album).join(Genre).join(Artist)))
for row in result :
    print(row) # 여기에 UI만 입혀서 올려놓으면 사용자들이 편하게 사용할 수 있다.

2018-07-11 00:00:56,060 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2018-07-11 00:00:56,061 INFO sqlalchemy.engine.base.Engine ()
('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway', 'IV', 'Metal', 'Led Zepplin')
('SimonDominic', 'Who Made Who', 'Rock', 'AC/DC')
('LucyDominic', 'Who Made Who', 'Metal', 'AC/DC')
('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway', 'IV', 'Metal', 'Led Zepplin')
('SimonDominic', 'Who Made Who', 'Rock', 'AC/DC')
('LucyDominic', 'Who Made Who', 'Metal', 'AC/DC')
('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway', 'IV', 'Metal', 'Led Zepplin')
('SimonDominic', 'Who Made Who', 'Rock', 'AC/DC')
('LucyDominic', 'Who Made Who', 'Metal', 'AC/DC')
('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway', 'IV', 'Metal', 'Led Zepplin')
('SimonDominic', 'Who Made Who', 'Rock', 'AC/DC')
('LucyDominic', 'Who Made Who', 'Metal', 'AC/DC')

In [106]:
# 4개의 테이블을 모두 Inner Join

result = conn.execute(select([Track.c.title, Album.c.title, Genre.c.name, Artist.c.name])
                     .select_from(Track.join(Album).join(Genre).join(Artist))
                     .where(
                         and_(
                             Genre.c.id == 1,
                             Artist.c.name.like("%pp%")
                         )
                     ))
for row in result :
    print(row) # 여기에 UI만 입혀서 올려놓으면 사용자들이 편하게 사용할 수 있다.

2018-07-11 00:01:05,272 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".name LIKE ?
2018-07-11 00:01:05,274 INFO sqlalchemy.engine.base.Engine (1, '%pp%')
('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Black Dog', 'IV', 'Rock', 'Led Zepplin')

In [107]:
from sqlalchemy import create_engine, MetaData

In [108]:
engine = create_engine("sqlite:///SQLalchemystudy.db", echo = True)

In [109]:
conn = engine.connect()

2018-07-11 00:01:14,653 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-11 00:01:14,654 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:14,656 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-11 00:01:14,657 INFO sqlalchemy.engine.base.Engine ()

In [110]:
metadata = MetaData(bind = engine, reflect = True)

2018-07-11 00:01:21,250 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-11 00:01:21,251 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,253 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-11 00:01:21,255 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,258 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-11 00:01:21,259 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,262 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-07-11 00:01:21,263 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,265 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-11 00:01:21,266 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,273 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-11 00:01:21,273 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,276 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-11 00:01:21,277 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,280 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-07-11 00:01:21,281 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,282 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-11 00:01:21,284 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,287 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-11 00:01:21,288 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,290 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-11 00:01:21,291 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,293 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-11 00:01:21,294 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,302 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-11 00:01:21,302 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,305 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-11 00:01:21,306 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,308 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-11 00:01:21,309 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,313 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-11 00:01:21,315 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,317 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-11 00:01:21,318 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,321 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-07-11 00:01:21,322 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,323 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-11 00:01:21,325 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,327 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-11 00:01:21,328 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,330 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-11 00:01:21,332 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,334 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-11 00:01:21,335 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,338 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-11 00:01:21,339 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,342 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-11 00:01:21,343 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,346 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-07-11 00:01:21,347 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,349 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-11 00:01:21,350 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,353 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-11 00:01:21,354 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,356 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-11 00:01:21,357 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,360 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-11 00:01:21,361 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,364 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2018-07-11 00:01:21,365 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,368 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'
2018-07-11 00:01:21,369 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,371 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("addresses")
2018-07-11 00:01:21,372 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,375 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'
2018-07-11 00:01:21,375 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,379 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2018-07-11 00:01:21,380 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,383 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-11 00:01:21,384 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,386 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("users")
2018-07-11 00:01:21,387 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,389 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-11 00:01:21,392 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,394 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2018-07-11 00:01:21,396 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,399 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("users")
2018-07-11 00:01:21,400 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,402 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'users' AND type = 'table'
2018-07-11 00:01:21,403 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,407 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("addresses")
2018-07-11 00:01:21,408 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,411 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("addresses")
2018-07-11 00:01:21,412 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:01:21,415 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'addresses' AND type = 'table'

2018-07-11 00:01:21,417 INFO sqlalchemy.engine.base.Engine ()

/anaconda3/envs/pythonStudy/lib/python3.6/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.
  """Entry point for launching an IPython kernel.

In [111]:
metadata.reflect(bind = engine)

2018-07-11 00:01:22,657 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-11 00:01:22,658 INFO sqlalchemy.engine.base.Engine ()

In [112]:
for row in metadata.tables :
    print(row)

Album
Artist
Genre
Track
addresses
users

In [113]:
album = metadata.tables["Album"]

In [114]:
result = conn.execute(album.select())
for row in result :
    print(row)

2018-07-11 00:01:29,750 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"
2018-07-11 00:01:29,751 INFO sqlalchemy.engine.base.Engine ()

## ORM

### ORM - Declare

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite://", echo = True) # echo는 중간과정을 보는 것

In [3]:
from sqlalchemy.ext.declarative import declarative_base # base를 먼저 선언 !!

In [4]:
# Construct a base class for declarative class definitions

Base = declarative_base()

In [5]:
type(Base)

sqlalchemy.ext.declarative.api.DeclarativeMeta

In [7]:
dir(Base) # 와 대박, 이 안에 metadata가 들어있다 !

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_decl_class_registry',
 'metadata']

ORM에서는 Metadata()를 직접 하는 것이 아니라, metadata가 안에 들어있는 Base를 상속받아서 클래스를 만든다 !!!

### ORM - Create

In [8]:
from sqlalchemy import Column, Integer, String, ForeignKey

In [9]:
class Artist(Base) :
    __tablename__ = "artist"
    id = Column(Integer, primary_key = True)
    name = Column(String)
    
    # 생성자 등도 여기에 추가할 수 있다.
    
    def __repr__(self) :
        return "<T'artist(name = '%s')>" % (self.name)
    
class Album(Base) :
    __tablename__ = "album"
    id = Column(Integer, primary_key = True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("artist.id"))
    
class Genre(Base) :
    __tablename__ = "genre"
    
    id = Column(Integer, primary_key = True)
    name = Column(String)
    
class Track(Base) :
    __tablename__ = "track"
    
    id = Column(Integer, primary_key = True)
    title = Column(String)
    album_id = Column(Integer, ForeignKey("album.id"))
    genre_id = Column(Integer, ForeignKey("genre.id"))

In [11]:
Base.metadata.create_all(engine) # 녹음파일 11:07

2018-07-11 00:19:45,362 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artist")
2018-07-11 00:19:45,363 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:19:45,366 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("album")
2018-07-11 00:19:45,367 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:19:45,370 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("genre")
2018-07-11 00:19:45,371 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 00:19:45,372 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("track")
2018-07-11 00:19:45,374 INFO sqlalchemy.engine.base.Engine ()

직접 테이블을 만들어주지 않고 Base = declarative_base()로 만든 Base 클래스를 상속시켜준 것밖에 없는데, 스스로 테이블을 만들어주었다.

In [12]:
# 아래는 데이터베이스에 들어간 것이 아니라 메모리 상에 있다.
# 이것을 이용해서 일을 시켜야 한다.

artist_instance01 = Artist(name = "Led Zepplin")
artist_instance02 = Artist(name = "AC/DC")

초기화 함수가 없는데 위와 같이 직접 넣어줄 수 있다....(?)

### Session

Session(클래스)은 모든 객체들을 대표하여 데이터베이스와의 모든 상호작용을 담당한다.

In [13]:
from sqlalchemy.orm import sessionmaker

In [14]:
Session = sessionmaker(bind = engine)
type(Session)

sqlalchemy.orm.session.sessionmaker

In [15]:
# Session 인스턴스를 받아준다.
session = Session()

# session에 일을 시킨다.
session.add_all([artist_instance01, artist_instance02])

# session을 SQL문으로 바꾸어서 실제로 DB에 반영하도록 한다.
session.commit()

2018-07-11 00:30:29,501 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-11 00:30:29,504 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-07-11 00:30:29,507 INFO sqlalchemy.engine.base.Engine ('Led Zepplin',)
2018-07-11 00:30:29,510 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (name) VALUES (?)
2018-07-11 00:30:29,512 INFO sqlalchemy.engine.base.Engine ('AC/DC',)
2018-07-11 00:30:29,514 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
type(session)

sqlalchemy.orm.session.Session

### Update

In [17]:
# session.dirty 녹음파일 18:40

session.dirty

IdentitySet([])

dirty
- The set of all persistent instances considered dirty.
- Instances are considered dirty when they were modified but not deleted.

session은 메모리 상에 상주하고 있는 클래스들을 관리한다. 그렇기 때문에 데이터베이스와 싱크가 항상 맞아야 데이터무결성을 지킬 수 있다. session은 session이 관리하고 있는 instance들의 값들이 새로 변경되는 사항들이 있는지 계속 감시하다가 변경되었지만 삭제되지 않은 사항이 있으면 dirty에 기록한다.

새로 추가된 사항들은 new라는 곳에 기록한다

In [18]:
session.new

IdentitySet([])

In [19]:
# 이렇게 바꾸려하면, DB에 있는 것과 메모리가 다르다. 그러면 반영되지 않은 값이 있다고 알려줄 것이다.
artist_instance01.name = "xyz"

In [20]:
session.dirty

IdentitySet([<T'artist(name = 'xyz')>])

값을 바꾸고 session.dirty를 해보면 미반영된 애를 확인할 수 있다. 그러면 commit을 하여 DB에 반영해야 한다. 그러고 나면 session.dirty는 다시 비워지게 될 것이다.

### Commit

In [21]:
session.commit()

2018-07-11 00:38:27,360 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-11 00:38:27,362 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id
FROM artist
WHERE artist.id = ?
2018-07-11 00:38:27,364 INFO sqlalchemy.engine.base.Engine (1,)
2018-07-11 00:38:27,367 INFO sqlalchemy.engine.base.Engine UPDATE artist SET name=? WHERE artist.id = ?
2018-07-11 00:38:27,368 INFO sqlalchemy.engine.base.Engine ('xyz', 1)
2018-07-11 00:38:27,369 INFO sqlalchemy.engine.base.Engine COMMIT

In [22]:
session.dirty

IdentitySet([])

미반영된 애들까지 확인 후 반영되었다.

In [23]:
# 앨범에 인스턴스를 추가

session.add_all([
    Album(title = "1" , artist_id = 1),
    Album(title = "2" , artist_id = 2)
])

# session new 해보면 아직 바뀌지 않은 새로운 애들이 나타난다. 확인 후 커밋 !

session.new

IdentitySet([<__main__.Album object at 0x10bcebf60>, <__main__.Album object at 0x10bcebf98>])

In [24]:
session.add_all([
    Genre(name = "Rock"),
    Genre(name = "Metal")
])

In [25]:
session.add_all([
    Track(title = "1-1", album_id = 1 , genre_id = 1),
    Track(title = "1-2", album_id = 1 , genre_id = 2),
    Track(title = "2-1", album_id = 2 , genre_id = 1),
    Track(title = "2-2", album_id = 2 , genre_id = 2),
])

여기까지 왔으면 엄청난 new들을 기다리고 있을 것이다.

In [26]:
session.new

IdentitySet([<__main__.Album object at 0x10bcebf60>, <__main__.Album object at 0x10bcebf98>, <__main__.Genre object at 0x10bcebeb8>, <__main__.Genre object at 0x10bcebdd8>, <__main__.Track object at 0x10bce6860>, <__main__.Track object at 0x10bce6898>, <__main__.Track object at 0x10bce69b0>, <__main__.Track object at 0x10bce6780>])

In [27]:
session.commit()

2018-07-11 00:40:00,122 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-11 00:40:00,125 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-11 00:40:00,127 INFO sqlalchemy.engine.base.Engine ('1-1', 1, 1)
2018-07-11 00:40:00,129 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-11 00:40:00,131 INFO sqlalchemy.engine.base.Engine ('1-2', 1, 2)
2018-07-11 00:40:00,132 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-11 00:40:00,134 INFO sqlalchemy.engine.base.Engine ('2-1', 2, 1)
2018-07-11 00:40:00,136 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-11 00:40:00,137 INFO sqlalchemy.engine.base.Engine ('2-2', 2, 2)
2018-07-11 00:40:00,140 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-07-11 00:40:00,142 INFO sqlalchemy.engine.base.Engine ('Rock',)
2018-07-11 00:40:00,149 INFO sqlalchemy.engine.base.Engine INSERT INTO genre (name) VALUES (?)
2018-07-11 00:40:00,155 INFO sqlalchemy.engine.base.Engine ('Metal',)
2018-07-11 00:40:00,158 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-11 00:40:00,161 INFO sqlalchemy.engine.base.Engine ('1', 1)
2018-07-11 00:40:00,164 INFO sqlalchemy.engine.base.Engine INSERT INTO album (title, artist_id) VALUES (?, ?)
2018-07-11 00:40:00,167 INFO sqlalchemy.engine.base.Engine ('2', 2)
2018-07-11 00:40:00,170 INFO sqlalchemy.engine.base.Engine COMMIT

이러고 나면 각 클래스별로 데이터가 입력된 테이블들이 생성되어 있을 것이다.

In [28]:
temp = Track(title = "3-1", album_id=3, genre_id=3)

In [29]:
print(temp.id) # memory 상에만 존재할 뿐, 실제 DB에 안 넣었기 때문에 None이 나올 것이다.

None

In [30]:
session.add(temp)
session.new # new에 새로운 작업이 남아 있다는 것을 확인할 수 있다.

IdentitySet([<__main__.Track object at 0x10bceb7b8>])

In [31]:
session.commit()

2018-07-11 00:41:05,066 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-11 00:41:05,068 INFO sqlalchemy.engine.base.Engine INSERT INTO track (title, album_id, genre_id) VALUES (?, ?, ?)
2018-07-11 00:41:05,069 INFO sqlalchemy.engine.base.Engine ('3-1', 3, 3)
2018-07-11 00:41:05,070 INFO sqlalchemy.engine.base.Engine COMMIT

*이 과정은 엄청나게 획기적인 것이다 !!!* 

데이터를 불러오려면 어떻게 해야하는가? session에 우리가 만든 정보들이 다 있고, 커밋했다면 DB와 100% 일치할 것이므로 DB까지 안 가고 메모리까지만 갔다올 수 있다. 그래서 다음과 같이 활용할 수 있다.

### Select

Query is the source of all SELECT statements generated by the ORM

In [31]:
for row in session.query(Artist) :
    print(row.id, row.name)

2018-07-10 17:34:05,319 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-10 17:34:05,321 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
2018-07-10 17:34:05,323 INFO sqlalchemy.engine.base.Engine ()
1 xyz
2 AC/DC

where 절을 활용하려면 filter라는 것을 활용하면 된다.

In [32]:
for row in session.query(Artist).filter(Artist.id == 1) :
    print(row.id, row.name)

2018-07-10 17:35:10,481 INFO sqlalchemy.engine.base.Engine SELECT artist.id AS artist_id, artist.name AS artist_name
FROM artist
WHERE artist.id = ?
2018-07-10 17:35:10,482 INFO sqlalchemy.engine.base.Engine (1,)
1 xyz