# 3일차 과제

## Exercise 61 : average

In [6]:
num_list = []

while(True) :
    tmp_num = int(input('숫자를 입력 (0 입력 시 종료) :'))
    if tmp_num == 0 :
        try :
            if len(num_list) == 0:
                raise Exception
        except :
            print("첫 숫자가 0이 되면 안 된다. 다시 입력 !")
            continue
        break
    num_list.append(tmp_num)

avg = sum(num_list) / len(num_list)
print('결과 >>> 평균 값 :' , avg)

숫자를 입력 (0 입력 시 종료) :3
숫자를 입력 (0 입력 시 종료) :5
숫자를 입력 (0 입력 시 종료) :7
숫자를 입력 (0 입력 시 종료) :9
숫자를 입력 (0 입력 시 종료) :0
결과 >>> 평균 값 : 6.0

## Exercise 63 : Temperature Conversion Table

In [7]:
def CtoF(C) :
    F = (9/5 * C) + 32
    return F

C_degree_list = list(range(0,101))

# draw 10 X 10 Celsius table
j = 0
print('Celsius Table')
print('-'*30)
for i in range(100) :
    j += 1
    print('{:5.2f}'.format(C_degree_list[i]), end=' ')
    if j %10 ==0 :
        print()

print()
print('Fahrenheit Table')
print('-'*30)
for i in range(100) :
    j += 1
    print('{:6.2f}'.format(CtoF(C_degree_list[i])), end=' ')
    if j %10 ==0 :
        print()

Celsius Table
------------------------------
 0.00  1.00  2.00  3.00  4.00  5.00  6.00  7.00  8.00  9.00
10.00 11.00 12.00 13.00 14.00 15.00 16.00 17.00 18.00 19.00
20.00 21.00 22.00 23.00 24.00 25.00 26.00 27.00 28.00 29.00
30.00 31.00 32.00 33.00 34.00 35.00 36.00 37.00 38.00 39.00
40.00 41.00 42.00 43.00 44.00 45.00 46.00 47.00 48.00 49.00
50.00 51.00 52.00 53.00 54.00 55.00 56.00 57.00 58.00 59.00
60.00 61.00 62.00 63.00 64.00 65.00 66.00 67.00 68.00 69.00
70.00 71.00 72.00 73.00 74.00 75.00 76.00 77.00 78.00 79.00
80.00 81.00 82.00 83.00 84.00 85.00 86.00 87.00 88.00 89.00
90.00 91.00 92.00 93.00 94.00 95.00 96.00 97.00 98.00 99.00

Fahrenheit Table
------------------------------
 32.00  33.80  35.60  37.40  39.20  41.00  42.80  44.60  46.40  48.20
 50.00  51.80  53.60  55.40  57.20  59.00  60.80  62.60  64.40  66.20
 68.00  69.80  71.60  73.40  75.20  77.00  78.80  80.60  82.40  84.20
 86.00  87.80  89.60  91.40  93.20  95.00  96.80  98.60 100.40 102.20
104.00 105.80 107.60 109.40 111.20 113.00 114.80 116.60 118.40 120.20
122.00 123.80 125.60 127.40 129.20 131.00 132.80 134.60 136.40 138.20
140.00 141.80 143.60 145.40 147.20 149.00 150.80 152.60 154.40 156.20
158.00 159.80 161.60 163.40 165.20 167.00 168.80 170.60 172.40 174.20
176.00 177.80 179.60 181.40 183.20 185.00 186.80 188.60 190.40 192.20
194.00 195.80 197.60 199.40 201.20 203.00 204.80 206.60 208.40 210.20

## Exercise 66 : Compute a Grade Point Average

In [8]:
grade = {'A+':4.0, 'A':4.0,'A-':3.7,'B+':3.3,'B':3.0,'B-':2.7,
       'C+':2.3, 'C':2.0, 'C-':1.7,'D+':1.3,'D':1.0,'F':0
      }

score = []
while(True):
    try :
        subject_score = input('Enter score (종료는 빈칸): ')
        if subject_score == " " :
            break
        score.append(grade[subject_score])
        
    except : 
        print('오류 발생, 다시 입력')
        continue

print('결과 >>> GPA : {}'.format(sum(score)/len(score)))

Enter score (종료는 빈칸): A
Enter score (종료는 빈칸): C+
Enter score (종료는 빈칸): B
Enter score (종료는 빈칸):
결과 >>> GPA : 3.1

## Exercise 67 : Admission Price

In [9]:
def adm_price(age) :
    if age <3 :
        price = 0
    elif age >= 3 and age <=12 :
        price = 14
    elif age >= 65 :
        price = 18
    else : 
        price = 23
    
group = []
while(True) :
    try :
        person_age = input('Enter age (종료는 빈칸):')
        if person_age == ' ' :
            break
        if int(person_age) < 0 :
            raise Exception
    except :
        print('에러 ! 다시 !')
        continue
    group.append(float(person_age))

print('결과 >>> Total price : {:.2f}'.format(sum(group)))

Enter age (종료는 빈칸):10
Enter age (종료는 빈칸):20
Enter age (종료는 빈칸):30
Enter age (종료는 빈칸):40
Enter age (종료는 빈칸):50
Enter age (종료는 빈칸):60
Enter age (종료는 빈칸):70
Enter age (종료는 빈칸):
결과 >>> Total price : 280.00

## Exercise 72 : Is a String a Palindrome?

In [10]:
word = input('Enter a word : ')
reveresed_word = word[::-1]

for i in range(len(word)) :
    if word[i] != reveresed_word[i] :
        print('결과 >>> The word {} is not an example of palindrome'.format(word))
        break
else :
    print('결과 >>> The word {} is an example of palindrome'.format(word))

Enter a word : 소주만병만주소
결과 >>> The word 소주만병만주소 is an example of palindrome

## Exercise 74 : Multiplication Table

In [11]:
col_name = list(range(0,11))
row_name = list(range(1,11))

for col_i in col_name :
    if col_i == 0 :
        print("    ", end=" ")
    else :
        print("{:4d}".format(col_i), end=" ")
else :
    print()

for row in row_name :
    print('{:4d}'.format(row),end= " ")
    for j in range(1, 11) :
        print('{:4d}'.format(row*j), end = " ")
    else :
        print()

        1    2    3    4    5    6    7    8    9   10
   1    1    2    3    4    5    6    7    8    9   10
   2    2    4    6    8   10   12   14   16   18   20
   3    3    6    9   12   15   18   21   24   27   30
   4    4    8   12   16   20   24   28   32   36   40
   5    5   10   15   20   25   30   35   40   45   50
   6    6   12   18   24   30   36   42   48   54   60
   7    7   14   21   28   35   42   49   56   63   70
   8    8   16   24   32   40   48   56   64   72   80
   9    9   18   27   36   45   54   63   72   81   90
  10   10   20   30   40   50   60   70   80   90  100

## Exercise 75 : Greatest Common Divisor

In [9]:
n = int(input('Enter the first postivie integer : '))
m = int(input('Enter the second postivie integer : '))

if n <= m :
    d = n
else :
    d = m

while m % d != 0 or n % d != 0 :
    d -= 1

print('결과 >>> GCD = {}'.format(d))

Enter the first postivie integer : 15
Enter the second postivie integer : 20
결과 >>> GCD = 5

## Exercise 77 : Binary to Decimal

In [12]:
import math

binary_str = input('변환하고자 하는 이진수를 입력하라.')
binary_num = binary_str[::-1]
decimal = 0
for e in range(len(binary_num)) :
    decimal += int(int(binary_num[e])*math.pow(2,e))
print('결과 >>> ', decimal)

변환하고자 하는 이진수를 입력하라.1101
결과 >>>  13

## Exercise 78 : Decimal to Binary

In [13]:
decimal_num = int(input('변환하고자 하는 10진수를 입력하라.'))
result = str()

q = decimal_num 
tmp_result = str()

while q != 0 :
    r = q%2 
    tmp_result += str(r)
    q = q // 2

result = tmp_result[::-1]
print('결과 >>> ', result+'(2)')

변환하고자 하는 10진수를 입력하라.123
결과 >>>  1111011(2)