람다는 이름 없는 함수였다. 특징은 statement가 아니라 expression이었다. 즉 expression이기 때문에 함수의 인자로도 들어갈 수 있다는 것이다.

In [1]:
def moon_sun(): # 파이썬은 함수형 패러다임을 지원하는 객체지향 언어이다.
    pass # 형태만 구별해주는 기능, 아무 짓도 안하는 애, 파이썬은 리턴 없이도 함수를 만들 수 있다.

In [2]:
def moon_sun2():
    print(0) 
    # 암시적으로 return None이 숨어있다.

In [3]:
1 + moon_sun()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [6]:
1 + moon_sun2() # print(0)은 interpreter 언어이기 때문에 한 줄 한 줄 해석할 때 출력이 된다. 더할 때 에러가 난다.

0

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [7]:
import dis

In [8]:
dir(dis)

['Bytecode',
 'COMPILER_FLAG_NAMES',
 'EXTENDED_ARG',
 'FORMAT_VALUE',
 'HAVE_ARGUMENT',
 'Instruction',
 '_Instruction',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_disassemble_bytes',
 '_disassemble_str',
 '_format_code_info',
 '_get_code_object',
 '_get_const_info',
 '_get_instructions_bytes',
 '_get_name_info',
 '_have_code',
 '_test',
 '_try_compile',
 '_unpack_opargs',
 'cmp_op',
 'code_info',
 'collections',
 'dis',
 'disassemble',
 'disco',
 'distb',
 'findlabels',
 'findlinestarts',
 'get_instructions',
 'hascompare',
 'hasconst',
 'hasfree',
 'hasjabs',
 'hasjrel',
 'haslocal',
 'hasname',
 'hasnargs',
 'io',
 'opmap',
 'opname',
 'pretty_flags',
 'show_code',
 'stack_effect',
 'sys',
 'types']

In [9]:
dis.dis(moon_sun) # 클래스, 메소드들을 분해해줌

  2           0 LOAD_CONST               0 (None)
              2 RETURN_VALUE

내부적으로 어떻게 돌아가는지를 알고싶으면 위처럼 활용할 수 있다. 파이썬은 interpreter 언어이기 때문에 저렇게 내부적인 구조를 알아낼 수 있다.

cf. parameter와 argument의 차이 : 함수 정의 시 ()라고 한 것이 parameter, 실행 시 parameter에 넣어주는 값을 argument라고 한다.

In [11]:
def positional_test(x,y) :
    return x,y

positional_test(1,2)

(1, 2)

파이썬은 위처럼 positional한 방식을 제공한다. 이는 순서대로 parameter와 짝을 이루어 argument를 넣는 방식을 뜻한다. positional 방식은 순서를 꼭 맞춰주어야 작동한다.

In [12]:
def keyword_test(x,y) :
    return x, y

keyword_test(y=1,x=2)

(2, 1)

순서가 다르더라도 keyword 방식으로 위와 같이 표현할 수도 있다.

In [14]:
a,*b,c = 1,2,3,4,5,6,7,8
b # 유동적으로 크기가 변하는 리스트가 나온다.

[2, 3, 4, 5, 6, 7]

In [15]:
def star_param_test(x,y,*z) :
    return x,y,z

star_param_test(1,23,456,"abc",'qwer',['a'])

(1, 23, (456, 'abc', 'qwer', ['a']))

[주의] 파이썬의 parameter에서 \*는 반드시 마지막 parameter에서만 쓸 수 있다. 단, \* 다음의 parameter에서 키워드를 붙여준다면 어디가 끝인지 알 수 있기 때문에 괜찮다.

In [16]:
def keyword_func(*,x,y) :
    return x,y

keyword_func(x=2, y=2)

(2, 2)

위에서처럼 제일 첫번째 parameter에 이름을 붙이지 않은 \*를 쓰면 키워드 argument만 사용하게되는 테크닉이 있다.

In [17]:
import pandas as pd

In [18]:
#pd.read_csv

Shift Tab 키를 눌러서 확인해보면, default가 없는 값들이 앞에 나오고, default가 있는 값들은 모두 없는 값 다음에 나온다는 것을 확인할 수 있다.

In [19]:
# Default 값들의 테크닉

def keyword_func02(x, y=3, z=1):
    return x,y,z

keyword_func02(7, z=5)

(7, 3, 5)

In [21]:
# Parameter에서는 or 쓰면 안 되지만, Argument에서는 or을 쓸 수 있다 !

def or_func(x) :
    return x

or_func(7 or 23)

7

In [24]:
or_var = input('Enter : ')
or_func(or_var or 123)

Enter :

123

위에서의 or 활용을 주의하라 ! input에서 아무 것도 입력 안 하면 or 뒤의 argument가 parameter로 넘어간다.

In [26]:
x,_,_ = 2,3,2
_

2

관례상 \_는 불필요한 것들을 채워넣는데 쓴다.

In [32]:
star_param_test(1,'abc',*[123,456,789]) # *를 넣으면 argument가 다 들어가서 내부적으로 튜플처리 한다.

(1, 'abc', (123, 456, 789))

In [33]:
star_param_test(1,'abc',*{123,456,789}) # *를 넣으면 argument가 다 들어가서 내부적으로 튜플처리 한다.

(1, 'abc', (456, 123, 789))

In [34]:
star_param_test(1,'abc',*"123,456,789") # *를 넣으면 argument가 다 들어가서 내부적으로 튜플처리 한다.

(1, 'abc', ('1', '2', '3', ',', '4', '5', '6', ',', '7', '8', '9'))

Q : 컨테이너 *(다양한 종류의 자료구조를 다룰 수 있는 리스트, 튜플, 셋, 프로즌셋, 딕셔너리)* 지만 시퀀스가 아닌 애는? : 셋, 프로즌셋, 딕셔너리

In [37]:
list("얄리얄리얄랑셩") # iterable일 경우 이런 식으로 처리된다.

['얄', '리', '얄', '리', '얄', '랑', '셩']

In [38]:
list({1,2,3,4})

[1, 2, 3, 4]

#### *가 두개 들어가면 dictionary로 들어간다.

In [39]:
def star_param_test02(x, **z) :
    return x,z

star_param_test02(1, y=2, z=3)

(1, {'y': 2, 'z': 3})

In [46]:
def star_param_test03(x,**z) :
    if 'a' in z : # in은 membership 연산자 ! key가 a에 있냐 없냐에 따라서 처리됨 !
        print('aaa')
        print(z['a'])
    return x,z

star_param_test03(1, a=2, b=3)

aaa
2

(1, {'a': 2, 'b': 3})

In [47]:
def star_param_test04(x,*y,**z) :
    return x,y,z

star_param_test04(1,3,4,2,34,a=2,b=3)

(1, (3, 4, 2, 34), {'a': 2, 'b': 3})

In [50]:
star_param_test04(1,y=[3,4,2,34],z={1:'3'}) # 이것과 관련한 테크닉은 연습을 많이 해보는 수밖에 없다.

(1, (), {'y': [3, 4, 2, 34], 'z': {1: '3'}})

In [51]:
star_param_test04(1,[3,4,2,34],{1:'3'}) # 이것과 관련한 테크닉은 연습을 많이 해보는 수밖에 없다.

(1, ([3, 4, 2, 34], {1: '3'}), {})

In [52]:
x = {1 : 'a', 2 : 'b'}
y = {2 : 'c', 3 : 'd'}

In [56]:
z = {**x} # dictionary unpacking 테크닉
z

{1: 'a', 2: 'b'}

In [60]:
z = {**x, **y}
z # 2가 c 됨, 파이썬의 실행방향 때문 !

{1: 'a', 2: 'c', 3: 'd'}

In [72]:
def type_chcek(x) :
#     if type(x) in [list, tuple, range] :
    if isinstance(x, (list, tuple, range)) :
        print('OOOOO')

In [73]:
type_chcek([1,2,3])

OOOOO

In [79]:
def test(x,**y):
    return x,y

test(1,**{'1':'3','3':'4'})

(1, {'1': '3', '3': '4'})

In [89]:
def star_param_test05(x,*y) :
    return x, y

star_param_test05(1, *[1,2,3,4,5]) # 묶인 것을 넣을 때는 풀어헤친 후 넣어야 하고, *한개로 (dict는 *두개) 푼다.

(1, (1, 2, 3, 4, 5))

## dict 자료형

In [92]:
dict_test = {'a' : 1, 'b' : 2, 'c' : 3}

for i in dict_test :
    print ('key >>>', i)
    print ('value >>>', dict_test[i])
    print()

for k,v in dict_test.items():
    print('<Key >>> {}, Value >>> {}>'.format(k,v))

key >>> a
value >>> 1

key >>> b
value >>> 2

key >>> c
value >>> 3

<Key >>> a, Value >>> 1>
<Key >>> b, Value >>> 2>
<Key >>> c, Value >>> 3>

#### 시퀀스 형의 사전형도 있다 !

In [93]:
from collections import OrderedDict

## First Class Citizen / First Class Function 개념

## High-Order Function 개념

함수를 리턴할 수도 있고, 함수를 argument로 이용할 수 있으면 High-Order Function이다. First Class Function이면 무조건 High-Order Function이라고 할 수 있다.

High-Order의 기능을 가지면 함수형 기법(Functional Paradigm)을 지원한다. 함수형 기법은 빅데이터가 유행하고 나서부터 엄청나게 중요한 역할을 해왔다.

## Seaborn 구경하기

In [94]:
import seaborn as sns

In [96]:
type(sns)

module

In [98]:
dir(sns) 

# load_datatset 통신

['FacetGrid',
 'JointGrid',
 'PairGrid',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_orig_rc_params',
 'algorithms',
 'axes_style',
 'axisgrid',
 'barplot',
 'blend_palette',
 'boxplot',
 'categorical',
 'choose_colorbrewer_palette',
 'choose_cubehelix_palette',
 'choose_dark_palette',
 'choose_diverging_palette',
 'choose_light_palette',
 'clustermap',
 'cm',
 'color_palette',
 'countplot',
 'crayon_palette',
 'crayons',
 'cubehelix_palette',
 'dark_palette',
 'desaturate',
 'despine',
 'distplot',
 'distributions',
 'diverging_palette',
 'external',
 'factorplot',
 'get_dataset_names',
 'heatmap',
 'hls_palette',
 'husl_palette',
 'jointplot',
 'kdeplot',
 'light_palette',
 'lmplot',
 'load_dataset',
 'lvplot',
 'matrix',
 'miscplot',
 'mpl',
 'mpl_palette',
 'pairplot',
 'palettes',
 'palplot',
 'plotting_context',
 'pointplot',
 'rcmod',
 'regplot',
 'regression',
 'reset_defaults',
 'reset_orig',
 'residplot',
 'rugplot',
 'saturate',
 'set',
 'set_color_codes',
 'set_context',
 'set_hls_values',
 'set_palette',
 'set_style',
 'stripplot',
 'swarmplot',
 'timeseries',
 'tsplot',
 'utils',
 'violinplot',
 'widgets',
 'xkcd_palette',
 'xkcd_rgb']

In [99]:
data = sns.load_dataset('tips') # Load a dataset from the online repository (requires internet) , 깃허브에서 데이터를 가져온다.
# ** 로 키워드

In [101]:
type(data)

pandas.core.frame.DataFrame

In [102]:
dir(data) # _ 하나는 자바에서 접근제한자 역할을 한다.

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_valid_indices',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'day',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'sex',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'smoker',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'time',
 'tip',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'total_bill',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [108]:
data.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [109]:
data.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [111]:
data.groupby('sex').mean()

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

---

## 함수형 프로그래밍

함수형 프로그래밍이란 아주 간단히 표현하면 loop를 없애는 것이다. 함수형 프로그래밍에서는 파라미터에 함수 이름만 집어넣거나 람다를 쓴다.

In [123]:
list(range(1,11)) # f(g(x)) 와 같은 꼴이므로 함수형 프로그래밍이다.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [124]:
L = []
for i in range(1,11) :
    L.append(i)
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [125]:
LL = [x for x in range (1,11) if x%2 == 0]
LL

[2, 4, 6, 8, 10]

In [126]:
LLL = {x for x in range (1,11) if x%2 == 0}
LLL

{2, 4, 6, 8, 10}

기본적 함수형 프로그램 : (1) map / (2) filter / (3) reduce

In [128]:
sum(range(1,11)) # for 돌릴 필요 없다 !! 함수형 기법이 제공되므로 !!

55

### (1) map

In [129]:
map(lambda x:x+2, range(1,11)) # lambda는 expression 이므로 인자로 들어갈 수 있다.

In [131]:
list(map(lambda x:x+2, range(1,11))) # lambda는 expression 이므로 인자로 들어갈 수 있다.

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

map은 어떤 함수든 매핑시켜준다. 또한 map은 generator 객체이므로 다른 형태로 형변환 해야 한다.

In [133]:
list(map(lambda x:x+"2", "정상현")) # lambda는 expression 이므로 인자로 들어갈 수 있다.

['정2', '상2', '현2']

In [134]:
list(map(lambda x:x+2, (1,2,3,4,5))) # lambda는 expression 이므로 인자로 들어갈 수 있다.

[3, 4, 5, 6, 7]

In [135]:
list(map(lambda x:x+2, [1,2,3,4,5])) # lambda는 expression 이므로 인자로 들어갈 수 있다.

[3, 4, 5, 6, 7]

In [138]:
list(map(lambda x:x+2, {1,2,3,4,5})) # lambda는 expression 이므로 인자로 들어갈 수 있다.

[3, 4, 5, 6, 7]

map, filter, reduce는 high-order function 이므로 lambda를 인자로 넣을 수 있었다.

In [144]:
def add_two(x) :
    return x + 2

list(map(add_two, {1,2,3})) # 람다를 안 쓰면 이렇게 직접 함수를 정의해준 다음에 함수의 이름을 써주어야 한다.

[3, 4, 5]

### (2) filter => 빅데이터에서 내가 표현한 조건에 따라서 걸러내는 데 많이 쓰임

In [143]:
list(filter(lambda x:x>3, [1,2,3,4,5,6,7,8,9,10]))

[4, 5, 6, 7, 8, 9, 10]

In [154]:
# all은 전부 다 참일 때만 True

print(all(""))
print(all(["",[]])) # 공백도 거짓이므로 False가 나온다.

True
False

In [157]:
# any는 하나만이라도 참이면 True

print(any(""))
print(any(["",[]])) # 공백도 거짓이므로 False가 나온다.

False
False

In [161]:
sorted([1,3,2])

[1, 2, 3]

In [162]:
sorted(['A','a'], key=str.lower)

['A', 'a']

### (3) reduce => 어려워서 일단은 생략

---

## enumerate

for 에서 index를 이용하여 루프롤 돌리고 싶으면 enumerate()를 쓴다 !!

In [170]:
a = enumerate([1,2,3])
a

In [171]:
b = (x for x in range (10))
b

In [184]:
def a() :
    return [1,2,3,4,5]

xx = a()
type(xx)

list

In [185]:
for a in a():
    print(a, end = " ")

1 2 3 4 5

In [186]:
dir(enumerate)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

enumerate도 map, filter도 모두 iterable하다 (__iter__)

In [189]:
# Tuple comprehension => generator  ...(?)

b = (x for x in range (10))
for i in b :
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

실행할 때마다 하나씩 메모리에 올리는건 lazy 기법이다. generator는 lazy 기법이다. lazy 기법은 실행 속도는 느리지만, 메모리에 다 올린다.

In [192]:
enum = enumerate([1,2,3])
for i, j in enumerate(range(3, 11)):
    print(i,j)

0 3
1 4
2 5
3 6
4 7
5 8
6 9
7 10

enumerate는 위와 같이 인덱스를 먼저 나온다. 다음과 같이 시작 인덱스를 줄 수도 있다.

In [195]:
for i, j in enumerate(range(3, 11),1):
    print(i,j)

1 3
2 4
3 5
4 6
5 7
6 8
7 9
8 10

In [198]:
for i in map(lambda x:x+1, range(10)):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [208]:
num1 = 3
num2 = 4 if a > 1 else 0
num3 = [x for x in range(10) if x > 5] # if를 뒤에 쓰는 경우
num3

[6, 7, 8, 9]

In [209]:
num4 = [x if x>5 else "None" for x in range(10)] # if를 앞에 쓰는 경우

In [210]:
num4

['None', 'None', 'None', 'None', 'None', 'None', 6, 7, 8, 9]

In [212]:
for i in range(2,10) :
    for j in range(1,10) :
        print('{} X {} = {}'.format(i,j,i*j))
    else :
        print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [225]:
[(x,y,x*y) for x in range(2, 10) for y in range(1,10)]

[(2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (2, 6, 12),
 (2, 7, 14),
 (2, 8, 16),
 (2, 9, 18),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12),
 (4, 4, 16),
 (4, 5, 20),
 (4, 6, 24),
 (4, 7, 28),
 (4, 8, 32),
 (4, 9, 36),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (6, 1, 6),
 (6, 2, 12),
 (6, 3, 18),
 (6, 4, 24),
 (6, 5, 30),
 (6, 6, 36),
 (6, 7, 42),
 (6, 8, 48),
 (6, 9, 54),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (8, 1, 8),
 (8, 2, 16),
 (8, 3, 24),
 (8, 4, 32),
 (8, 5, 40),
 (8, 6, 48),
 (8, 7, 56),
 (8, 8, 64),
 (8, 9, 72),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

In [226]:
def ax(a,x) :
    return a*x

[ax(a,x) for a in range(2,10) for x in range(1,10)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

Loop를 완전히 없앴 수 없으므로, 뮤타블이 가능함아므로

def mutable ( x= [])
함수의 default 값은 뮤터블 불가

In [236]:
import time
time.time()

1530770599.818698

In [237]:
def time_at(time = time.time()):
    return time

In [241]:
time_at()

1530770621.2148428

시간은 변해야 하는데, parameter에 고정이 된 값이 들어가기 때문에 계속 똑같은 값이 나올 것이다.

In [247]:
def moon(self=None) :
    return self

In [248]:
moon()

In [249]:
moon(1)

1

## 파이썬에서의 획기적인 Scope

In [267]:
# Scope의 개념 _ 변수가 생존하는 범위

x = 1 
y = 3

def a() :
    x = 2
    print('>>> a() 내부의 x : ',x) # 함수 안에 값이 있을 때는 안에 있는 변수를 가져온다.
    print('>>> a() 내부의 y : ',y) # 함수 안에 값이 없을 때는 밖에 있는 변수를 가져온다.

    return x

print('함수 호출 return 된 x : ', a())
print(x)

>>> a() 내부의 x :  2
>>> a() 내부의 y :  3
함수 호출 return 된 x :  2
1

LEGB : Local, Enclosing, Global, Builtin

In [269]:
# Scope의 개념 _ 변수가 생존하는 범위

x = 1 
y = 3

def a() :
    global x  # 함수 내부에서 global로 바꿔버리는 경우
    x += 3
    print('>>> a() 내부의 x : ',x) # 함수 안에 값이 있을 때는 안에 있는 변수를 가져온다.
    print('>>> a() 내부의 y : ',y) # 함수 안에 값이 없을 때는 밖에 있는 변수를 가져온다.

    return x

print('함수 호출 return 된 x : ', a())
print(x)

>>> a() 내부의 x :  4
>>> a() 내부의 y :  3
함수 호출 return 된 x :  4
4

In [272]:
import keyword
keyword.kwlist # global의 반대인 local은 없는데, nonlocal은 있다 !

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 함수 안에서 함수 선언, 굉장히 독특한 것 !

In [282]:
# Scope의 개념 _ 변수가 생존하는 범위

x = 1 
y = 3

def a() :
    x = 3
    def b(x) :
        return x
    return b

print('함수 안의 함수에서 return 된 x : ', a()(5)) # 클로저 기법
print('함수에서 return 된 x : ', a())
print(x)

함수 안의 함수에서 return 된 x :  5
함수에서 return 된 x :  <function a.<locals>.b at 0x1180787b8>
1

In [283]:
# Scope의 개념 _ 변수가 생존하는 범위

x = 1 
y = 3

def a() :
    x = 3
    def b() :
        return x
    return b

print('>>> : ', a()())
print(x)

>>> :  3
1

In [284]:
x = 1
y = 3
def a() :
    def b() :
        nonlocal x
        return x
    x = 2
    return b
print(a()())

2