# SQLite

## 메모리에서 수행

In [2]:
import sqlite3

In [2]:
dir(sqlite3)

['Binary',
 'Cache',
 'Connection',
 'Cursor',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'OptimizedUnicode',
 'PARSE_COLNAMES',
 'PARSE_DECLTYPES',
 'PrepareProtocol',
 'ProgrammingError',
 'Row',
 'SQLITE_ALTER_TABLE',
 'SQLITE_ANALYZE',
 'SQLITE_ATTACH',
 'SQLITE_CREATE_INDEX',
 'SQLITE_CREATE_TABLE',
 'SQLITE_CREATE_TEMP_INDEX',
 'SQLITE_CREATE_TEMP_TABLE',
 'SQLITE_CREATE_TEMP_TRIGGER',
 'SQLITE_CREATE_TEMP_VIEW',
 'SQLITE_CREATE_TRIGGER',
 'SQLITE_CREATE_VIEW',
 'SQLITE_DELETE',
 'SQLITE_DENY',
 'SQLITE_DETACH',
 'SQLITE_DROP_INDEX',
 'SQLITE_DROP_TABLE',
 'SQLITE_DROP_TEMP_INDEX',
 'SQLITE_DROP_TEMP_TABLE',
 'SQLITE_DROP_TEMP_TRIGGER',
 'SQLITE_DROP_TEMP_VIEW',
 'SQLITE_DROP_TRIGGER',
 'SQLITE_DROP_VIEW',
 'SQLITE_IGNORE',
 'SQLITE_INSERT',
 'SQLITE_OK',
 'SQLITE_PRAGMA',
 'SQLITE_READ',
 'SQLITE_REINDEX',
 'SQLITE_SELECT',
 'SQLITE_TRANSACTION',
 'SQLITE_UPDATE',
 'Statement',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'adapt',
 'adapters',
 'apilevel',
 'collections',
 'complete_statement',
 'connect',
 'converters',
 'datetime',
 'dbapi2',
 'enable_callback_tracebacks',
 'enable_shared_cache',
 'paramstyle',
 'register_adapter',
 'register_converter',
 'sqlite_version',
 'sqlite_version_info',
 'threadsafety',
 'time',
 'version',
 'version_info']

In [14]:
print(sqlite3.version)
print(sqlite3.version_info)

2.6.0
(2, 6, 0)

In [15]:
print(sqlite3.sqlite_version)
print(sqlite3.sqlite_version_info)

3.22.0
(3, 22, 0)

In [20]:
# RAM으로 데이터베이스를 연결

conn = sqlite3.connect(":memory:")

In [21]:
conn

In [22]:
# Cursor 생성

cur = conn.cursor()

In [23]:
type(cur)

sqlite3.Cursor

In [24]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [27]:
# cursor를 이용하여 테이블을 만드는 방법

cur.execute('create table people (name_last, age)')  # 데이터 타입은 아직 모름

OperationalError: table people already exists

In [29]:
who = "Yeltsin"
print(who)

age = 72
print(age)

Yeltsin
72

In [30]:
# people 테이블에 값을 insert 하기

cur.execute("insert into people values(?, ?)", (who, age))

위와 같이 변수로 값을 집어넣을 수 있다.

In [31]:
cur.execute("select * from people where name_last = :who and age = :age", {"who":who, "age":age})

위와 같이 딕셔너리로 값을 집어넣을 수도 있다.

In [33]:
# 테이블에서 데이터 가져오기

print(cur.fetchone())

None

fetch는 하나씩 데이터를 가져오기 때문에 while문과 함께 사용하곤 한다. *while cur.fetchone() != None*

한번에 여러 문장을 실행하고 싶을 때는 executemany라는 함수를 사용할 수 있다.

In [37]:
# insert 문을 sql이라는 변수에 넣어준다.

sql = "insert into people values(?, ?)"

# 두 개의 question mark에 집어넣을 튜플을 데이터에 넣어준다.

data = [("data01",1), ("data02",2), ("data03",3)]

In [38]:
cur.executemany(sql, data)

In [39]:
cur.executescript(
"""
    create table person(
        firs_name text primary key,
        last_name text not null
    );
    
    insert into person values('Simon', 'JEONG')
"""
)

In [40]:
cur.execute("select * from person") # select 문에는 script에 쓰지 말아라.

In [41]:
cur.fetchall()

[('Simon', 'JEONG')]

In [44]:
cur.execute("select * from people")
cur.fetchall()

[('Yeltsin', 72), ('data01', 1), ('data02', 2), ('data03', 3)]

In [89]:
conn.close()

---

## .db 파일을 만들어서 수행

In [3]:
import sqlite3

# 주피터노트북이 떠있는 현재 경로에 test.db가 만들어진다.
conn = sqlite3.connect("test.db")

In [4]:
conn.execute(
"""
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL
    );
"""
)

참고로 이렇게 만들어진 "test.db"를 DB browser for SQLite를 다운받아서 GUI로 관리할 수 있다.

In [5]:
# 다양한 방법으로 Insert 하기

conn.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) \
             VALUES ( 1, 'Simon', 27, 'Warrensburg MO', 20000.00);")
conn.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) \
             VALUES (:ID, :NAME, :AGE, :ADDRESS, :SALARY)", 
            {'ID':2, 'NAME':'Lucy', 'AGE':28, 'ADDRESS':'Kansas City MO', 'SALARY': 25000.00});

data = [(3, 'James', 28, 'St.Louis', 18000.00),
       (4, 'Erin', 24, 'Chicago', 17000.00)]
    
conn.executemany("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) \
                  VALUES(?, ?, ?, ?, ?)", data);

conn.executescript(
"""
    INSERT INTO COMPANY
    VALUES(5, 'Darnell', 29, 'Warrensburg MO', 15000.00);
    
    INSERT INTO COMPANY
    VALUES(6, 'Ali', 24, 'Buffallo NY', 22000.00);
"""
)

conn.commit()
print('Records created successfully')

Records created successfully

레코드를 작성해보면 DB Browser for SQLite에서 GUI로 확인해 볼 수 있다.

In [6]:
temp = conn.execute('SELECT * FROM COMPANY')
type(temp)

sqlite3.Cursor

fetch 함수를 이용하지 않고도 row 단위에 있는 데이터들을 아래와 같이 확인해 볼 수 있다. 그렇지만 fetch처럼 각 단계들이 순차적으로 나타나고, 다시 실행하려면 다시 execute해주어야 한다.

In [7]:
for row in temp :
    print('데이터 :',row, '     타입 :',type(row))

데이터 : (1, 'Simon', 27, 'Warrensburg MO', 20000.0)      타입 : <class 'tuple'>
데이터 : (2, 'Lucy', 28, 'Kansas City MO', 25000.0)      타입 : <class 'tuple'>
데이터 : (3, 'James', 28, 'St.Louis', 18000.0)      타입 : <class 'tuple'>
데이터 : (4, 'Erin', 24, 'Chicago', 17000.0)      타입 : <class 'tuple'>
데이터 : (5, 'Darnell', 29, 'Warrensburg MO', 15000.0)      타입 : <class 'tuple'>
데이터 : (6, 'Ali', 24, 'Buffallo NY', 22000.0)      타입 : <class 'tuple'>

In [13]:
cid = 1
conn.execute("UPDATE COMPANY SET SALARY = 99999.00 WHERE ID=:ID", {'ID':cid})
conn.commit()

cursor = conn.execute("SELECT ID, NAME, AGE, ADDRESS, SALARY FROM COMPANY")
for row in cursor :
    print("ID = {}".format(row[0]))
    print("NAME = {}".format(row[1]))
    print("AGE = {}".format(row[2]))
    print("ADDRESS = {}".format(row[3]))
    print("SALARY = {}".format(row[4]))
    print()

ID = 1
NAME = Simon
AGE = 27
ADDRESS = Warrensburg MO
SALARY = 99999.0

ID = 2
NAME = Lucy
AGE = 28
ADDRESS = Kansas City MO
SALARY = 25000.0

ID = 3
NAME = James
AGE = 28
ADDRESS = St.Louis
SALARY = 18000.0

ID = 4
NAME = Erin
AGE = 24
ADDRESS = Chicago
SALARY = 17000.0

ID = 5
NAME = Darnell
AGE = 29
ADDRESS = Warrensburg MO
SALARY = 15000.0

ID = 6
NAME = Ali
AGE = 24
ADDRESS = Buffallo NY
SALARY = 22000.0

In [16]:
cid = 2
conn.execute("UPDATE COMPANY SET SALARY = 12345.00 WHERE ID=:ID", {'ID':cid})
conn.commit()

cursor = conn.execute("SELECT ID, NAME, AGE, ADDRESS, SALARY FROM COMPANY")
for row in cursor :
    print("ID = {}".format(row[0]))
    print("NAME = {}".format(row[1]))
    print("AGE = {}".format(row[2]))
    print("ADDRESS = {}".format(row[3]))
    print("SALARY = {}".format(row[4]))
    print()

ID = 1
NAME = Simon
AGE = 27
ADDRESS = Warrensburg MO
SALARY = 99999.0

ID = 2
NAME = Lucy
AGE = 28
ADDRESS = Kansas City MO
SALARY = 12345.0

ID = 3
NAME = James
AGE = 28
ADDRESS = St.Louis
SALARY = 18000.0

ID = 4
NAME = Erin
AGE = 24
ADDRESS = Chicago
SALARY = 17000.0

ID = 5
NAME = Darnell
AGE = 29
ADDRESS = Warrensburg MO
SALARY = 15000.0

ID = 6
NAME = Ali
AGE = 24
ADDRESS = Buffallo NY
SALARY = 22000.0

In [17]:
# 테이블 삭제하기

conn.execute("DROP TABLE COMPANY")
print("The table has been dropped successfully")

The table has been dropped successfully

In [18]:
conn.close()

---

In [19]:
# sqlite에서도 try - except를 할 수 있다.

import sqlite3 as sql

con = None

try :
    con = sql.connect('test02.db')
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchone()
    print("SQLite Version ", data)

except Exception as e :
    print('Error : ', e)

finally :
    if con:
        con.close()

SQLite Version  ('3.22.0',)

In [30]:
con = sql.connect(':memory:')

with con: # 자동으로 close를 해준다.
    cur = con.cursor()
    cur.execute('CREATE TABLE Friends (ID INTEGER PRIMARY KEY, NAME TEXT);')
    cur.execute('INSERT INTO Friends(Name) VALUES ("Tom");')
    cur.execute('INSERT INTO Friends(Name) VALUES ("Rebecca");')
    cur.execute('INSERT INTO Friends(Name) VALUES ("Jim");')
    cur.execute('INSERT INTO Friends(Name) VALUES ("Robert");')
    
    lid = cur.lastrowid
    print("The last ID of the inserted row is",lid)

The last ID of the inserted row is 4